<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714967572408-46j7konp3u8174hu8tuhtlps4cq3h2k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714967572408-46j7konp3u8174hu8tuhtlps4cq3h2k6</string>
	<key>API_KEY</key>
	<string>AIzaSyBYI8jFku2KeFwJ3CzAxg_CoA_dgk3Z-uM</string>
	<key>GCM_SENDER_ID</key>
	<string>714967572408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burakkara.booksApp</string>
	<key>PROJECT_ID</key>
	<string>booksapp-281d5</string>
	<key>STORAGE_BUCKET</key>
	<string>booksapp-281d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714967572408:ios:9a26a3f5ec46147daf794d</string>
</dict>
</plist>